{% extends "base.html" %}

{% block content %}
<!-- Heading Section-->
<section class="py-3 text-center bg-light">
  <div class="container">
    <h1 class="jumbotron-heading">Habit Tracker v2</h1>
  </div>
</section>

<!-- Tabe Section-->
<section class="py-3 text-center">
  <div class="container">
    <div class="row">
      <table id="table" class="table table-sm">
        <thead class="thead-dark"> 
          <tr>
            <th scope="col"></th>
            <th scope="col">Did not snooze</th>
            <th scope="col">Drank water</th>
            <th scope="col">Brushed teeth AM</th>
            <th scope="col">No internet AM</th>
            <th scope="col">Brushed teeth PM</th>
            <th scope="col">No internet PM</th>
          </tr>
        </thead>
        <tbody id='habits'>
        </tbody>
      </table>
    </div>

  </div>
</section>





{% endblock %}
